{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="py-9 overflow-hidden text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="bg-holder overlay overlay-1"
            style="background-image:url(https://img.freepik.com/free-vector/black-marble-texture-pattern-background_1017-37167.jpg?w=1380&t=st=1679303578~exp=1679304178~hmac=f56b100293b93162478835c38bacbf700014d4aa242d7860b03856d64bb6edd8);"
            data-parallax="data-parallax"></div>
        <div class="container">
            <div class="overflow-hidden">
                <h1 class="fs-3 fs-sm-4 text-white mt-6 text-uppercase" data-zanim-xs='{"delay":0}'>About Us</h1>
            </div>
        </div>
    </section>
    <main class="main" id="top">
        <div class="preloader" id="preloader">
            <div class="loader-box">
                <div class="loader"></div>
            </div>
        </div>
        <section class=" text-center back">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h5 class="mb-4 text-center ls" style="color: brown;"> About Us</h5>
                        <h4 class="mb-4">We take pride in the quality and variety of our materials.</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore doloribus eos cumque quis
                            quasi dolores ex, minima saepe adipisci tempore voluptates placeat doloremque provident
                            aliquid optio dolor soluta est in! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ut, tenetur iure sed delectus velit consequatur similique. Nemo rerum odit ducimus, commodi
                            ea et! Soluta animi, a nisi esse architecto ducimus.</p>
                    </div>
                </div>
                <div class="row mt-6">
                    <div class="col-lg-4 ">
                        <div class="row align-items-center ">
                            <div class="col-md-6 col-lg-12 pt-2 pb-2  zoom-effect"><img class="img-fluid"
                                    src="https://cdn-icons-png.flaticon.com/512/5455/5455723.png" alt="Residential" />
                            </div>
                            <div class="col-md-6 col-lg-12 text-md-start text-lg-center">
                                <h5 class="ls mt-4 mb-3">500+ Projects</h5>
                                <p class="justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Necessitatibus alias nisi, reiciendis tenetur ut sint architecto vero sequi
                                    vel. Assumenda eaque consequuntur harum libero, placeat consequatur explicabo
                                    repellat voluptatibus deserunt?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-12 pt-2 pb-2  zoom-effect"><img class="img-fluid"
                                    src="https://cdn-icons-png.flaticon.com/512/2303/2303934.png" alt="Commercial" />
                            </div>
                            <div class="col-md-6 col-lg-12 text-md-start text-lg-center">
                                <h5 class="ls  mt-4 mb-3">Certified Dealer</h5>
                                <p class="justify-content-center">Lorem, ipsum dolor sit amet consectetur adipisicing
                                    elit. Officiis non culpa aliquam voluptates possimus ipsam accusamus, deleniti
                                    accusantium et. Dolores quibusdam at, facere alias autem sed totam et earum
                                    laboriosam!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-12 pt-2 pb-2  zoom-effect"><img class="img-fluid"
                                    src="https://cdn-icons-png.flaticon.com/512/1534/1534214.png" alt="Hospitality" />
                            </div>
                            <div class="col-md-6 col-lg-12 text-md-start text-lg-center">
                                <h5 class="ls mt-4 mb-3">High Quality</h5>
                                <p class="justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. At consequatur dolorem reprehenderit pariatur consectetur eaque aliquid, earum
                                    impedit quisquam minus doloribus ratione nesciunt ipsa laboriosam perspiciatis illo
                                    animi alias totam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

{% endblock content %}