{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-9 overflow-hidden text-center " data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="bg-holder overlay overlay-1"
            style="background-image:url(https://img.freepik.com/free-vector/black-marble-texture-pattern-background_1017-37167.jpg?w=1800&t=st=1679305130~exp=1679305730~hmac=488dac17e8002474e4cbee5f6aa0cb35a6153d086f7fd3feb425397b7e5983db);"
            data-parallax="data-parallax"></div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="overflow-hidden">
                <h1 class="fs-4 fs-sm-3 text-white mt-6 mb-1" data-zanim-xs='{"delay":0}'>Contact Us</h1>
            </div>
            <div class="overflow-hidden">
                <p class="fs-1 fw-light ls text-400 text-uppercase" data-zanim-xs='{"delay":0.1}'>We're Here for You</p>
            </div>
        </div>
        <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main back" id="top">
        <div class="preloader" id="preloader">
            <div class="loader-box">
                <div class="loader"></div>
            </div>
        </div>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 pe-lg-6">
                        <div class="row">
                            <div class="col-md-4 col-lg-12 mb-4">
                                <h5 class="mb-2">Flooring store in Kakkur</h5>Kakkur<br />Kerala, 673613<br />Cell: <a
                                    href="tel:097450 95972">097450 95972</a>
                            </div>
                            <div class="col-md-4 col-lg-12 mb-4">
                                <h5 class="mb-2">Open Hours</h5>8.30am to 8.30pm<br />
                            </div>
                            <div class="col-md-4 col-lg-12">
                                <h4 class="mb-2">Socials</h4><a class="mt-2" href="#!"><span
                                        class="fab fa-linkedin fs-2 me-2 text-primary"
                                        data-fa-transform="shrink-1"></span></a><a class="mt-2" href="#!"><span
                                        class="fab fa-twitter-square fs-2 mx-2 text-primary"
                                        data-fa-transform="shrink-1"></span></a>
                                <a class="mt-2" href="#!"><span class="fab fa-facebook-square fs-2 mx-2 text-primary"
                                        data-fa-transform="shrink-1"></span></a><a class="mt-2" href="#!"><span
                                        class="fab fa-google-plus-square fs-2 ms-2 text-primary"
                                        data-fa-transform="shrink-1"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg mt-4 mt-lg-0">
                        <form>
                            <div class="row">
                                <div class="col-12"><input class="form-control" type="text" placeholder="Your Name"
                                        required="required" /></div>
                                <div class="col-12 mt-4"><input class="form-control" type="email" placeholder="Email"
                                        required="required" /></div>
                                <div class="col-12 mt-4"><textarea class="form-control" rows="6"
                                        placeholder="Enter your descriptions here..." required="required"></textarea>
                                </div>
                                <div class="col-12 mt-4"><button class="btn btn-primary" type="Submit"> <span
                                            class="text-white fw-semi-bold">Send Now</span></button></div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="col-12 mt-8">
                        <div class="googlemap" data-latlng="48.8583701,2.2922873,17" data-scrollwheel="false" data-icon="../assets/img/map-marker.png" data-zoom="13" data-theme="Default" style="min-height: 350px;">
                            <div class="marker-content py-3">
                                <h5>Eiffel Tower</h5>
                                <p>Gustave Eiffel's iconic, wrought-iron 1889 tower,<br /> with steps and elevators to observation decks.</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- end of .container-->
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->

    </main>
{% endblock content %}