{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main" id="top">
        <div class="preloader" id="preloader">
            <div class="loader-box">
                <div class="loader"></div>
            </div>
        </div>

        <section class="py-0">
           
            <div class="swiper theme-slider min-vh-100"
                data-swiper='{"loop":true,"allowTouchMove":false,"autoplay":{"delay":5000},"effect":"fade","speed":800}'>
                <div class="swiper-wrapper">
                    {% for carousal in carousals %}
                    <div class="swiper-slide" data-zanim-timeline="{}">
                        {% if carousal.image.url %}
                        <div class="bg-holder overlay overlay-freya"
                            style="background-image:url('{{ carousal.image.url }}');"
                            data-parallax="data-parallax" data-rellax-speed="-3">
                        </div>
                        {% else %}
                        <div class="bg-holder overlay overlay-freya"
                            style="background-image:url('https://img.freepik.com/free-photo/top-view-boards…03c04c61917d86edbf8f1c7c3adb97e4ac7430ae5b174fa13');"
                            data-parallax="data-parallax" data-rellax-speed="-3">
                        </div>
                        {% endif %}
                        <!--/.bg-holder-->
                        <div class="container-fluid">
                            <div class="row min-vh-100 justify-content-start align-items-end pt-11 pb-6 text-white"
                                data-zanim-timeline="{}">
                                <div class="col">
                                    <div class="row align-items-end">
                                        <div class="col-lg">
                                            <div class="overflow-hidden">
                                                <p class="mb-1 text-uppercase ls"
                                                    data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.1}'>
                                                    {{ carousal.sub_title }}</p>
                                            </div>
                                            <div class="overflow-hidden">
                                                <h2 class="text-white fw-medium mb-4 mb-lg-0"
                                                    data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0}'>
                                                    {{ carousal.title }} </h2>
                                            </div>
                                        </div>
                                        <div class="col text-lg-end">
                                            <div class="overflow-hidden">
                                                <div
                                                    data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.2}'>
                                                    <a class="btn btn-sm btn-outline-white" href="projects.html">{{ carousal.button_label }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-nav">
                    <div class="swiper-button-prev"><span class="fas fa-chevron-left"></span></div>
                    <div class="swiper-button-next"><span class="fas fa-chevron-right"></span></div>
                </div>
            </div>
        </section>

        <!--Features One Start-->
        <section class="features-one clearfix back pt-6">
            <div class="container ">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h4 class=" text-center ls mb-5" style="color: brown;"> Our Products</h4>
                    </div>
                </div>
                <div class="row">
                    <!--Start Single Features One-->
                    {% for category in categories %}
                    <div class="col-xl-4 col-lg-4 wow fadeInUp animated animated">
                        <div class="features-one__single">
                            <div class="features-one__single-img">
                                <img class="img-fluid"
                                    src="{{ category.image.url }}"
                                    alt="Residential" />
                                <div class="features-one__single-title text-center">
                                    <h3><a href="{% url 'category' category.id %}">{{ category.title }}</a></h3>
                                </div>
                            </div>

                            </a><!-- /.feature-one__single__more -->
                        </div>
                    </div>
                   
                    {% endfor %}
                    

                </div>
                
            </div>

            <!-- About New section -->

            <body onload="load()">


                <div class="container mt-6">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-10">
                            <h5 class="mb-4 text-center ls" style="color: brown;"> About Us</h5>
                            <h4 class="mb-4">We take pride in the quality and variety of our materials.</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore doloribus eos cumque
                                quis
                                quasi dolores ex, minima saepe adipisci tempore voluptates placeat doloremque provident
                                aliquid optio dolor soluta est in! Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                                Ut, tenetur iure sed delectus velit consequatur similique. Nemo rerum odit ducimus,
                                commodi
                                ea et! Soluta animi, a nisi esse architecto ducimus.</p>
                        </div>
                    </div>
                    <div class="row mt-5">


                        <div class="col-lg-4 col-md-4 col-sm-2 ">
                            <div class="stats-box ">
                                <!-- <i class="fas fa-chair"></i> -->
                                <h1 id='stats-1'>
                                    <h6 class="plus">+</h6>
                                </h1>
                                <h4>Products</h4>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-2">
                            <div class="stats-box">
                                <!-- <i class="fas fa-microphone-alt"></i> -->
                                <h1 id='stats-2'>
                                    <h6 class="plus">+</h6>
                                </h1>
                                <h4>Brands</h4>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-2">
                            <div class="stats-box">
                                <!-- <i class="fas fa-hourglass"></i> -->
                                <h1 id='stats-3'>
                                    <h6 class="plus">+</h6>
                                </h1>
                                <h4>Projects</h4>

                            </div>
                        </div>

                    </div>

                </div>





        </section>

        <section class="back contact ">


            <!-- new products -->
            <div class="row justify-content-center ">
                <div class="col-md-10">
                    <h4 class=" text-center ls mb-5" style="color: brown;"> Latest Products</h4>
                </div>
            </div>
            <div id="carouselExampleControls" class="carousel slide container" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="cards-wrapper">
                            <div class="card">
                                <div class="image-wrapper  zoom-effect">
                                    <img src="https://img.freepik.com/premium-photo/marble-stone-texture-as-background_789279-4417.jpg?w=1380"
                                        alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">White Granite</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="granite.html" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image-wrapper  zoom-effect">
                                    <img src="https://img.freepik.com/free-photo/light-grey-background-brick-blocks_1194-7538.jpg?w=1380&t=st=1679635538~exp=1679636138~hmac=64c704b1642f83cbf6c2949780ccb0a16a5424bdf3ce85a68fe671775b4ac5c3"
                                        alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Grey claddings</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="claddings.html" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image-wrapper  zoom-effect">
                                    <img src="https://img.freepik.com/premium-photo/light-soft-white-marble-texture_171337-25507.jpg"
                                        alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">White marbles</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="marble.html" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="cards-wrapper">
                            <div class="card">
                                <div class="image-wrapper  zoom-effect">
                                    <img src="https://img.freepik.com/premium-photo/light-soft-white-marble-texture_171337-25507.jpg"
                                        alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">White marbles</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image-wrapper  zoom-effect">
                                    <img src="https://img.freepik.com/free-photo/gold-marbled-pattern_53876-88811.jpg?t=st=1679635178~exp=1679635778~hmac=379d31921533c889010b33990e8ab472031bf6109911ee81978aff50621e8c19"
                                        alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Mixed tiles</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image-wrapper  zoom-effect">
                                    <img src="https://img.freepik.com/free-photo/black-marbled-surface_53876-90798.jpg?t=st=1679635178~exp=1679635778~hmac=45ffd01f56a32e2db423db8d149f7e9fc8982f8d52ff77a41dcf4f75fe165a66"
                                        alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">BLACK
                                        GRANITE</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="cards-wrapper">
                            <div class="card">
                                <div class="image-wrapper  zoom-effect">
                                    <img src="https://img.freepik.com/free-vector/realistic-liquid-marble-background-with-gold_23-2148897013.jpg?w=1380&t=st=1679635185~exp=1679635785~hmac=8378a53d36f44b2a89d2102ae907cb05fa738ca63137a221d80e2adba8cfe8b2"
                                        alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image-wrapper  zoom-effect">
                                    <img src="https://img.freepik.com/free-photo/stone-floor-texture_1194-9047.jpg?w=1380&t=st=1679635200~exp=1679635800~hmac=027130b9e2201c882195edbe453ff05eec8bffcf3151545a36781cc5b9d9a8eb"
                                        alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image-wrapper  zoom-effect">
                                    <img src="https://img.freepik.com/free-photo/close-up-black-marble-textured-background_53876-148094.jpg?w=1380&t=st=1679635218~exp=1679635818~hmac=ca90acc90175732224ff548482822e6460436159eee6e92f0e48621b9e1a4573"
                                        alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- contact us -->

            <div class="row justify-content-center back mt-6">
                <div class="col-md-10">
                    <h4 class=" text-center ls mb-5" style="color: brown;"> Contact Us</h4>
                </div>
            </div>
            <div class="container my-5">

                <div class="row justify-content-center">
                    <div class="col-lg-12">

                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="your-name" class="form-label">Your Name</label>
                                    <input type="text" class="form-control" id="your-name" name="your-name" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="your-surname" class="form-label">Your Surname</label>
                                    <input type="text" class="form-control" id="your-surname" name="your-surname"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label for="your-email" class="form-label">Your Email</label>
                                    <input type="email" class="form-control" id="your-email" name="your-email" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="your-subject" class="form-label">Your Subject</label>
                                    <input type="text" class="form-control" id="your-subject" name="your-subject">
                                </div>
                                <div class="col-12">
                                    <label for="your-message" class="form-label">Your Message</label>
                                    <textarea class="form-control" id="your-message" name="your-message" rows="5"
                                        required></textarea>
                                </div>
                                <div class="col-12 mt-4">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-md-2 ">
                                            <button data-res="<?php echo $sum; ?>" type="submit"
                                                class="btn btn-dark w-100 fw-bold">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- client slider -->
            <div class="slider container">
                <div class="slide-track">
                    <div class="slide">
                        <img src="{% static '/assets/img/clients/1.png' %}" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="{% static '/assets/img/clients/2.png' %}" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="{% static '/assets/img/clients/3.png' %}" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="{% static '/assets/img/clients/4.png' %}" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="{% static '/assets/img/clients/5.png' %}" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="{% static '/assets/img/clients/6.png' %}" height="100" width="250"
                            alt="" />
                    </div>                    
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
