{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-9 overflow-hidden text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="bg-holder overlay overlay-1"
            style="background-image:url(https://img.freepik.com/free-vector/black-marble-texture-pattern-background_1017-37167.jpg?w=1380&t=st=1679303578~exp=1679304178~hmac=f56b100293b93162478835c38bacbf700014d4aa242d7860b03856d64bb6edd8);"
            data-parallax="data-parallax"></div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="overflow-hidden">
                <h1 class="fs-4 fs-sm-4 text-white mt-6" data-zanim-xs='{"delay":0}'>Gallery</h1>
            </div>
            <div class="overflow-hidden">
                <h4 class="ls fw-light text-uppercase text-300 mb-0" data-zanim-xs='{"delay":0.1}'>View our projects
                </h4>
            </div>
        </div>
        <!-- end of .container-->
    </section>
   

    <section class="gallery">
        <div class="container-fluid">

            <div class="box">
                <div class="col">
                    {% for section in section1 %}
                        <img src="{{ section.image.url }}">
                    {% endfor %}
                </div>

                <div class="col">
                    {% for section in section2 %}
                        <img src="{{ section.image.url }}">
                    {% endfor %}
                </div>

                <div class="col">
                    {% for section in section3 %}
                        <img src="{{ section.image.url }}">
                    {% endfor %}
                </div>
            </div>
        </div>


    </section>

    <!--item ends  -->
    </main> 
{% endblock content %}