<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Petra Gallery</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/site.webmanifest">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="vendors/hamburgers/hamburgers.min.css" rel="stylesheet">
    <link href="vendors/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/theme.min.css" rel="stylesheet" />
    <link href="assets/css/user.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&amp;display=swap" rel="stylesheet">
</head>

<body>
    <div class="fixed-top">
        <div class="container px-0">
            <nav class="navbar navbar-expand-lg navbar-freya navbar-light">
                <a class="navbar-brand" href="index.html">
                    <div class="freya-logo"> <img src="assets/img/logo/001.png" alt=""> </div>
                </a><button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#primaryNavbarCollapse" aria-controls="primaryNavbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="hamburger hamburger--emphatic"><span
                            class="hamburger-box"><span class="hamburger-inner"></span></span></span></button>
                <div class="collapse navbar-collapse" id="primaryNavbarCollapse">
                    <ul class="navbar-nav py-3 py-lg-0 mt-1 mb-2 my-lg-0 ms-lg-n1">
                        <li class="nav-item"><a class="nav-link " href="index.html" role="button"
                                aria-expanded="false">Home</a>

                        </li>
                        <li class="nav-item"><a class="nav-link " href="about.html" role="button"
                                aria-expanded="false">About</a></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle dropdown-indicator"
                                href="JavaScript:void(0)" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Products</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="marble.html">MARBLES</a></li>
                                <li><a class="dropdown-item" href="granite.html">GRANITE</a></li>
                                <li><a class="dropdown-item" href="tiles.html">TILES</a></li>
                                <li><a class="dropdown-item" href="claddings.html">CLADDINGS</a></li>
                                <li><a class="dropdown-item" href="accessories.html">ACCESSORIES</a></li>
                            </ul>
                        </li>
                        <li class="nav-item "><a class="nav-link" href="projects.html" role="button"
                                aria-expanded="false">Projects</a></li>
                        <li class="nav-item "><a class="nav-link" href="contact.html" role="button"
                                aria-expanded="false">Contact</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav ms-lg-auto flex-row justify-content-center py-3 py-lg-0 me-n2">
                        <li><a class="nav-link px-2" href="#"><span class="fab fa-facebook-f"
                                    data-fa-transform="shrink-2"></span></a></li>
                        <li><a class="nav-link px-2" href="#"><span class="fab fa-twitter"
                                    data-fa-transform="shrink-2"></span></a></li>
                        <li><a class="nav-link px-2" href="#"><span class="fab fa-instagram"
                                    data-fa-transform="shrink-2"></span></a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="preloader" id="preloader">
            <div class="loader-box">
                <div class="loader"></div>
            </div>
        </div>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-9 overflow-hidden text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="bg-holder overlay overlay-1"
                style="background-image:url(https://img.freepik.com/free-vector/black-marble-texture-pattern-background_1017-37167.jpg?w=1380&t=st=1679303578~exp=1679304178~hmac=f56b100293b93162478835c38bacbf700014d4aa242d7860b03856d64bb6edd8);"
                data-parallax="data-parallax"></div>
            <!--/.bg-holder-->
            <div class="container">
                <div class="overflow-hidden">
                    <h1 class="fs-4 fs-sm-4 text-white mt-6 mb-3" data-zanim-xs='{"delay":0}'>TILES</h1>
                </div>
                <div class="overflow-hidden">
                    <h4 class="ls fw-light text-uppercase text-300 mb-0" data-zanim-xs='{"delay":0.1}'>hard-wearing
                        material</h4>
                </div>
            </div>
            <!-- end of .container-->
        </section>
        <!-- <section> close ============================-->

        <!-- item starts -->

        <section class="text-center back">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <h3 class="mb-4">Tiles are widely used for flooring in kitchen,
                            bathrooms, parking lots, rooftops.</h3>
                        <p class="mb-7">Traditionally, tiles have been made of glazed or
                            unglazed fired clay, but modern tiles are also made
                            of plastic, glass, asphalt, or asbestos cement. Tiles
                            are usually thin, square or rectangular coverings
                            manufactured from hard-wearing material such as
                            ceramic, stone, metal, baked clay, or even glass.
                            For Clean :
                            Sweep or vacuum your tile floors regularly to keep
                            them from getting dull.</p>
                    </div>
                </div>
                <!-- <div class="row">
                        <div class="col-lg-6 mb-4"><img class="w-100" src="https://img.freepik.com/free-photo/3d-rendering-modern-steel-elevator-lift-lobby-business-hotel-with-luxury-design_105762-2042.jpg?w=740&t=st=1679033475~exp=1679034075~hmac=878de1505c2b284ba122edcf26ea4d05eeffbaba42b7633c79fb12b18ee0a5a9" alt="gallery image"></div>
                        <div class="col-lg-6 mb-4"><img class="w-100" src="https://img.freepik.com/premium-photo/modern-geometric-wallpaper-white-tiles-with-wooden-walnut-decor-seamless-realistic-texture_473931-134.jpg?w=740" alt="gallery image"></div>
                        <div class="col-lg-6 mb-4"><img class="w-100" src="https://img.freepik.com/free-photo/geometric-abstract-art-marbling-colorful_181624-58165.jpg?w=740&t=st=1679033534~exp=1679034134~hmac=4817b810698443b967428b92a3d7ae6fc5ebcb7c3a2c8ae3f53176b3bf262fff" alt="gallery image"></div>
                        <div class="col-lg-6 mb-4"><img class="w-100" src="https://img.freepik.com/free-photo/top-view-metallic-surface_23-2148849324.jpg?w=740&t=st=1679033557~exp=1679034157~hmac=d5675ab8f7ec5d26dfee50976deb03ad870ce030f6fd3542dd00cfba87fcdf32" alt="gallery image"></div>
                    </div>
                </div> -->
                <!-- end of .container-->


                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
                    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                    crossorigin="anonymous">

                <div class="container bg-white pt-5">

                    <div class="row">
                        <div
                            class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3  zoom-effect">
                            <div class="product"> <img
                                    src="https://img.freepik.com/free-photo/black-marble-patterned-texture-background-marble-thailand-abstract-natural-marble-black-white-design_1253-917.jpg?w=1380&t=st=1679046047~exp=1679046647~hmac=5122f14e2928c6f4615a99fcbd76a576f27af833b87a7d04f30692c2a0f59889"
                                    alt="">
                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                                </ul>
                            </div>
                            <div class="tag bg-red">sale</div>
                            <div class="title pt-4 pb-1">Winter Sweater</div>
                            <div class="d-flex align-content-center justify-content-center"> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> </div>
                            <div class="price">$ 60.0</div>
                        </div>
                        <div
                            class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3  zoom-effect">
                            <div class="product"> <img
                                    src="https://img.freepik.com/free-photo/close-up-black-marble-textured-background_53876-63511.jpg?w=1380&t=st=1679046089~exp=1679046689~hmac=9bd70ae5347312da920f875920578529a785122b5e6b3ba5fd3ef99771fd2363"
                                    alt="">
                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                                </ul>
                            </div>
                            <div class="tag bg-black">out of stock</div>
                            <div class="title pt-4 pb-1">Denim Dresses</div>
                            <div class="d-flex align-content-center justify-content-center"> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> </div>
                            <div class="price">$ 55.0</div>
                        </div>
                        <div
                            class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3  zoom-effect">
                            <div class="product"> <img
                                    src="https://img.freepik.com/free-vector/realistic-liquid-marble-background-with-gold_23-2148897013.jpg?w=1380&t=st=1679046184~exp=1679046784~hmac=83756a866e55255e3cb25eb12108e657605a3d5254264171cafcce738ea6e796"
                                    alt="">
                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                                </ul>
                            </div>
                            <div class="tag bg-green">new</div>
                            <div class="title pt-4 pb-1"> Empire Waist Dresses</div>
                            <div class="d-flex align-content-center justify-content-center"> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> </div>
                            <div class="price">$ 70.0</div>
                        </div>
                        <div
                            class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3  zoom-effect">
                            <div class="product"> <img
                                    src="https://img.freepik.com/free-photo/blue-gold-marble-textured-background_53876-101585.jpg?w=1380&t=st=1679046223~exp=1679046823~hmac=472fe5fb08ce2829c60f0f0428959a36c89a15e9073849efb89a1c719c790189"
                                    alt="">
                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                                </ul>
                            </div>
                            <div class="title pt-4 pb-1">Pinafore Dresses</div>
                            <div class="d-flex align-content-center justify-content-center"> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> </div>
                            <div class="price">$ 60.0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3  zoom-effect">
                            <div class="product"> <img
                                    src="https://img.freepik.com/free-photo/black-marble-patterned-texture-background-marble-thailand-abstract-natural-marble-black-white-design_1253-917.jpg?w=1380&t=st=1679046047~exp=1679046647~hmac=5122f14e2928c6f4615a99fcbd76a576f27af833b87a7d04f30692c2a0f59889"
                                    alt="">
                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                                </ul>
                            </div>
                            <div class="tag bg-red">sale</div>
                            <div class="title pt-4 pb-1">Winter Sweater</div>
                            <div class="d-flex align-content-center justify-content-center"> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> </div>
                            <div class="price">$ 60.0</div>
                        </div>
                        <div
                            class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3  zoom-effect">
                            <div class="product"> <img
                                    src="https://img.freepik.com/free-photo/close-up-black-marble-textured-background_53876-63511.jpg?w=1380&t=st=1679046089~exp=1679046689~hmac=9bd70ae5347312da920f875920578529a785122b5e6b3ba5fd3ef99771fd2363"
                                    alt="">
                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                                </ul>
                            </div>
                            <div class="tag bg-black">out of stock</div>
                            <div class="title pt-4 pb-1">Denim Dresses</div>
                            <div class="d-flex align-content-center justify-content-center"> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> </div>
                            <div class="price">$ 55.0</div>
                        </div>
                        <div
                            class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3  zoom-effect">
                            <div class="product"> <img
                                    src="https://img.freepik.com/free-vector/realistic-liquid-marble-background-with-gold_23-2148897013.jpg?w=1380&t=st=1679046184~exp=1679046784~hmac=83756a866e55255e3cb25eb12108e657605a3d5254264171cafcce738ea6e796"
                                    alt="">
                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                                </ul>
                            </div>
                            <div class="tag bg-green">new</div>
                            <div class="title pt-4 pb-1"> Empire Waist Dresses</div>
                            <div class="d-flex align-content-center justify-content-center"> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> </div>
                            <div class="price">$ 70.0</div>
                        </div>
                        <div
                            class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3  zoom-effect">
                            <div class="product"> <img
                                    src="https://img.freepik.com/free-photo/blue-gold-marble-textured-background_53876-101585.jpg?w=1380&t=st=1679046223~exp=1679046823~hmac=472fe5fb08ce2829c60f0f0428959a36c89a15e9073849efb89a1c719c790189"
                                    alt="">
                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                                </ul>
                            </div>
                            <div class="title pt-4 pb-1">Pinafore Dresses</div>
                            <div class="d-flex align-content-center justify-content-center"> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                    class="fas fa-star"></span> </div>
                            <div class="price">$ 60.0</div>
                        </div>
                    </div>
                </div>

                <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script> -->

        </section>
        <!--item ends  -->
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="bg-300 py-4 fs-1 text-center">
        <div class="container"><a class="d-inline-block px-2 text-900 fs-1" href="#!"><span class="fab fa-facebook-f"
                    data-fa-transform="shrink-2"></span></a><a class="d-inline-block px-2 text-900 fs-1" href="#!"><span
                    class="fab fa-twitter" data-fa-transform="shrink-2"></span></a>
            <a class="d-inline-block px-2 text-900 fs-1" href="#!"><span class="fab fa-instagram"
                    data-fa-transform="shrink-2"></span></a>
        </div>
        <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <footer class="bg-black text-center py-6 ">
        <div class="container">
            <p class="text-uppercase text-300 ls mb-3">Petra gallery,Kakkur, Kerala, 673613</p>
            <p class="text-700 mb-0">Designed by <a class="text-600" href="https://thychacreatives.com/"
                    target="_blank">Thycha Creatives</a></p>
        </div>
    </footer>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="vendors/bigpicture/BigPicture.js">
    </script>
    <script src="vendors/swiper/swiper-bundle.min.js"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="vendors/rellax/rellax.min.js"></script>
    <script src="vendors/lodash/lodash.min.js"></script>
    <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/gsap/gsap.js"></script>
    <script src="vendors/gsap/customEase.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>